<!DOCTYPE html>
<html>
<head>
    <title>View Student</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">View Student</h1>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Name: <%= student.name %></h5>
                <p class="card-text">Age: <%= student.age %></p>
                <p class="card-text">Photo: <img src="<%= student.photo %>" alt="Student Photo" class="img-fluid"></p>
                <a href="/students" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
</body>
</html>